# Only run on commit.
default_stages: [commit]
# Stop running hooks after the first failure.
fail_fast: true

# Source for the hooks. Used by pre-commit to install the hooks.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Trim trailing whitespace.
      - id: trailing-whitespace
      # Ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
      # Protect specific branches from direct commits.
      - id: no-commit-to-branch
        args: [--branch, develop, --branch, production]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      # Use black to format the code.
      - id: black
        files: \.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      # Use isort for sorting imports.
      - id: isort
        additional_dependencies: ["toml"]
        files: \.py$
  - repo: https://github.com/google/yamlfmt
    # Format yaml files if needed.
    rev: v0.9.0
    hooks:
      - id: yamlfmt
        args: [
          "-formatter",
          "retain_line_breaks=true",
          "-formatter",
          "max_line_length=80",
          "-formatter",
          "scan_folded_as_literal=true", # !yamlfmt!:ignore
        ]
        files: \.(yml|yaml)$
        # exclude all pipeline/deploy files in template due to double brace {{}}
        exclude: ^aineko/templates/.*(pipeline|deploy)\.(yaml|yml)$
