[data-md-color-scheme="aineko"] {
    --md-primary-fg-color:        #15696D;
    --md-primary-fg-color--light: #D0E1E2;
    --md-primary-fg-color--dark:  #064447;
    --md-accent-fg-color:         #44878A;
    --md-highlight-color:         #bae7ea;
    --md-default-fg-color--light: #000000;
  }

.md-typeset h1,
.md-typeset h2, 
.md-typeset h3,
.md-typeset h4, 
.md-typeset h5,
.md-typeset h6 {
  font-weight: bold;
}

.md-nav__title {
  color: #000000;
  font-size: .9rem;
}

.md-nav__item .md-nav__link--active {
  background-color: var(--md-highlight-color);
  color: #000000;
  padding: 0.25rem;
}

.md-nav__link {
  color: #000000;
}

.md-footer__inner {
  padding-left: 12rem;
  padding-right: 12rem;
}

.md-footer {
  background-color: #FFFFFF;
  color: #000000;
}

.md-footer-meta {
  background-color: var(--md-primary-fg-color);
}


