[data-md-color-scheme="aineko"] {
    --md-primary-fg-color:        #15696D;
    --md-primary-fg-color--light: #D0E1E2;
    --md-primary-fg-color--dark:  #064447;
    --md-accent-fg-color:         #44878A;
  }

.md-typeset h1,
.md-typeset h2, 
.md-typeset h3,
.md-typeset h4, 
.md-typeset h5,
.md-typeset h6 {
  font-weight: bold;
}
