[data-md-color-scheme="aineko"] {
    --md-primary-fg-color:        #15696D;
    --md-primary-fg-color--light: #D0E1E2;
    --md-primary-fg-color--dark:  #064447;
    --md-accent-fg-color:         #44878A;
  }
